.border {
  border: 1px solid #2fc4b2;
}

.userAuth {
  width: 416px;
  height: auto;
  padding: 30px 20px;
  background-color: white;
}

/* ////// */
/* HEADER */
/* ////// */
.header {
  height: 80px;
  width: 100%;
  border-bottom: 2px rgb(132, 129, 129) solid;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: whitesmoke;
}
.headerPartLeft {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 10%;
}
.headerPartRight {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding-right: 10%;
}
.headerLogo {
  width: 80px;
  height: auto;
  overflow: hidden;
}
.headerImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background-color: aqua;
}
.uploadPost {
  margin-right: 20px;
  width: 100px;
  height: 30px;
}
.editPost {
  width: 80px;
}

/* //////// */
/* DROPDOWN */
/* //////// */
.dropDown {
  position: fixed;
  z-index: 11;
  top: 86px;
  right: 10.4%;
  width: 220px;
  background-color: white;
  border-radius: 15px;
  padding: 10px 10px;
  box-sizing: border-box;
  text-align: left;
  border: 1px #2fc4b2 solid;
}
.triangle {
  position: absolute;
  top: -8%;
  right: 0;
}
.dropItem {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 23px;
  display: flex;
  align-items: center;
}
div.dropItem:hover {
  color: #2fc4b2;
}
.dropLine {
  border-bottom: 2px rgb(87, 87, 87) solid;
}
.dropDownIcon {
  margin-right: 15px;
  margin-left: 10px;
  font-size: 30px;
}

/* ///////////// */
/*    LANDING    */
/* ///////////// */

.landingContainer {
  position: relative;
  width: 462px;
  top: 18%;
  left: 10%;
}
.mainTitle {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 85px;
  line-height: 102.02px;
}
.mainLogo {
  position: absolute;
  top: -10%;
  right: 22%;
}
.secondaryLogo {
  position: absolute;
  bottom: 16%;
  left: 24%;
}
.mainWords {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-size: 24px;
}
.secondaryWords {
  margin-top: 10px;
  font-size: 14px;
}
.landingButtons {
  display: flex;
  margin-top: 20px;
  width: 350px;
  height: 30px;
  font-size: 14px;
}
div.landingButtons button.button.text-white {
  margin-right: 20px;
  background-color: #2fc4b2;
}
div.landingButtons button.button.text-black {
  background-color: #e7e7e7;
}

/* ///////////// */
/* MODAL LANDING */
/* ///////////// */

.modalBackground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-content: center center;
  background-color: rgba(0, 0, 0, 0.174);
}
.landingPop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-content: center center;
  z-index: 1;
}
.modalContainer {
  width: 416px;
  border-radius: 10px;
  background-color: white;
  box-sizing: border-box;
  padding-bottom: 7.5%;
  padding-top: 7.5%;
  position: relative;
  border: 1px #2fc4b2 solid;
  z-index: 1;
}
.modalTitle {
  font-size: 36px;
  color: #2fc4b2;
  margin-bottom: 20px;
  padding-left: 7%;
}
.formContainer {
  text-align: center;
  width: 85%;
  margin: auto;
}
div.modalInput input.input {
  margin-bottom: 12px;
  font-size: 18px;
}
div.modalInput button.button {
  margin-bottom: 10px;
  margin-top: 13px;
  font-size: 18px;
}
.modalCloser {
  position: absolute;
  top: -2%;
  right: -2%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2fc4b2;
  display: grid;
  place-content: center center;
  border: 2px whitesmoke solid;
  box-sizing: border-box;
}

/* ///////////// */
/*     POP UP    */
/* ///////////// */

.popUpPage {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-content: center center;
}
.popUpContainer {
  width: 742px;
  height: auto;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px #2fc4b2 solid;
  text-align: center;
  font-size: 14px;
  background-color: white;
  position: relative;
  border-radius: 10px;
}
.popUpCloser {
  position: absolute;
  top: -15%;
  right: -2%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2fc4b2;
  display: grid;
  place-content: center center;
  border: 2px whitesmoke solid;
  box-sizing: border-box;
}

/* ///////////// */
/*      HOME     */
/* ///////////// */

.postSelector {
  background-color: #e7e7e7;
  padding: 5px 7px;
  border-radius: 5px;
  overflow: hidden;
}
.searchBar {
  background-color: #e7e7e7;
  width: auto;
  padding: 5px 7px;
  border-radius: 5px;
  overflow: hidden;
}
div.searchBar.flex input.searchInput {
  height: 100%;
  border: none;
  margin-left: 4px;
  background-color: #e7e7e7;
  color: black;
}
.middleHome {
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 10%;
  font-size: 18px;
}
.postContainer {
  width: 95%;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.photoContainer {
  width: 23%;
  height: auto;
  margin: 0.8% 1%;
}

/* ///////////// */
/*  DETAIL POST  */
/* ///////////// */

.detailPost {
  width: 50%;
  margin: 0 auto;
  margin-top: 130px;
}
.upperDetailPost {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.upperDetailPostLeft {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
}
.upperDetailPostRight {
  display: grid;
  width: 50%;
  height: inherit;
  place-content: center right;
}
.buttonPlacer {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
}
.postName {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
div.upperDetailPostRight button.text-white {
  background-color: #2fc4b2;
  padding: 3% 15%;
}
div.upperDetailPostRight button.text-black {
  background-color: #e7e7e7;
  padding: 3% 15%;
}
.mainPostPict {
  width: 100%;
  height: 545px;
}
.listPostPic {
  display: flex;
  height: 90px;
  width: 100%;
  margin-top: 10px;
}
.postPictSlider {
  height: 100%;
  width: 20%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}
.postDetails {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* ///////////// */
/*    PROFILE    */
/* ///////////// */

.bodyProfile {
  width: 80%;
  position: relative;
  margin: 0 auto;
}
.profileBack {
  position: absolute;
  top: 0;
  right: -12.5%;
  width: 307px;
  height: 400px;
  border-radius: 5px;
  background-color: #2fc4b2;
  margin-top: -18px;
}
.upperProfileBody {
  width: 100%;
}
.upperProfieLeft {
  width: 38%;
  padding-top: 5%;
}
.upperProfieRight {
  width: 71%;
}
.profilePict {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  background-color: whitesmoke;
}
.userDetails {
  margin-top: 20px;
}
.ProfileButton {
  margin-top: 50px;
  width: 100%;
}
div.ProfileButton button.text-black {
  background-color: #e7e7e7;
  padding: 2%;
  width: 30%;
}
div.ProfileButton button.text-white {
  background-color: #2fc4b2;
  padding: 2%;
  width: 30%;
}
div.ProfileButton button.text-white {
  width: 35%;
}
.profilePostContainer {
  position: relative;
  width: 600px;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
}
.artPage {
  margin-top: 40px;
}
.artContainer {
  margin-top: 30px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

/* ///////////// */
/*     HIRED     */
/* ///////////// */

.hiredContainer {
  width: 100%;
  padding-top: 30px;
}
.formHiredContainer {
  width: 50%;
  margin: auto;
}
textarea.inputHired {
  margin-bottom: 0px;
}
.inputHired {
  margin-bottom: 20px;
  height: 40px;
}
.textArea {
  height: 200px;
}
.leftDate {
  width: 47%;
}
.rightDate {
  width: 47%;
}
.price {
  margin-top: 20px;
}
.hiredButtons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
div.hiredButtons button.text-black {
  background-color: #e7e7e7;
  padding: 1%;
  width: 15%;
  margin: 0 10px;
}
div.hiredButtons button.text-white {
  background-color: #2fc4b2;
  padding: 1%;
  width: 15%;
  margin: 0 10px;
}

/* //////////// */
/* EDIT PROFILE */
/* //////////// */

.editProfileContainer {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 130px;
}
.editLeftPart {
  width: 63%;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 20px;
}
.editRightPart {
  width: 28%;
  height: inherit;
}
.fileDropper {
  width: 80%;
  height: 400px;
  background-color: whitesmoke;
  border: 4px rgb(198, 173, 173) dashed;
  display: grid;
  grid-auto-flow: column;
  place-content: center center;
}
.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 4px rgb(198, 173, 173) dashed;
  margin: 0 auto 30px auto;
  background-color: whitesmoke;
}
div.changePict {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  display: grid;
  place-content: center center;
  color: #2fc4b2;
  overflow: hidden;
}
div.profileImage:hover .changePict {
  cursor: pointer;
  opacity: 1;
  top: 0;
  z-index: 1;
}
.editProfileButton {
  width: 30%;
  margin: 20px auto;
}
div.editProfileButton button {
  color: white;
}

/* ////////////////////// */
/*   ADD POST & PROJECT   */
/* ////////////////////// */

.editProfileContainer {
  width: 90%;
}
div.addPostLeft {
  width: 60%;
  padding-right: 10px;
  position: relative;
}
.leftContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 140px;
}
.addPostRight {
  width: 28%;
  padding-left: 20px;
  padding-top: 30px;
  height: inherit;
}
.mainUploadField {
  width: 80%;
  height: 400px;
  display: grid;
  place-content: center center;
  box-sizing: border-box;
  background-color: whitesmoke;
  border: 4px rgb(198, 173, 173) dashed;
}
.filePreview {
  width: 80%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-sizing: border-box;
  height: 90px;
  margin-top: 15px;
}
.previewItems {
  width: 23%;
  height: 100%;
  border-radius: 5px;
  margin: 0 1% 0 1%;
  overflow: hidden;
}
.projectPreview {
  width: 80%;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}
.projPrevRight {
  width: 28%;
  padding-left: 20px;
  height: inherit;
}

/* ///// */
/* ORDER */
/* ///// */

.orderContainer {
  width: 75%;
  margin: 70px auto;
  text-align: left;
  box-sizing: border-box;
}
.tableHead {
  background-color: whitesmoke;
}
table {
  width: 100%;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 5px 10px;
  max-width: 185px;
  overflow: hidden;
}
th.tableNumber {
  width: 4%;
}
td.actionItems {
  display: grid;
  place-content: space-around center;
  width: inherit;
  height: inherit;
}
.buttonTable {
  background-color: lawngreen;
  height: 30px;
}
.buttonTable2 {
  height: 30px;
}
.rounded {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.detailsContainer {
  text-align: left;
  position: relative;
  width: 100%;
}
.lefter {
  display: flex;
  flex-direction: row-reverse;
}
.orderDetailButtons {
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
div.orderDetailButtons button {
  width: 48%;
  border-radius: 5px;
}
